<form class="grab-bag-window">
  <div class="bag-content">
    {{#each items as | item |}}
      <div class="item" data-item-id="{{item.id}}" {{#if item.actor}}data-actor-id="{{item.actor.id}}"{{/if}} data-bag-idx="{{@index}}">
        <div class="name">{{item.data.name}}</div>

        {{#if ../isGM}}
        <div class="btn-remove">{{localize "GRABBAG.button.remove"}}</div>
        {{else}}
        <div class="btn-take">{{localize "GRABBAG.button.take"}}</div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</form>
